/** Stylus Styles */
@require '~vuetify/src/stylus/settings/_colors'

$theme := {
  primary: $teal.base
  accent: $pink.base
  secondary: $grey.darken-1
  info: $blue.lighten-1
  warning: $amber.darken-2
  error: $red.accent-4
  success: $green.lighten-2
}

@import '~vuetify/src/stylus/main'
